@import url('https://fonts.googleapis.com/css?family=Lora|PT+Serif');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
  
}

.blurred-bg{
  position: relative;
}
.blurred-bg::before{
  z-index: -1;
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/268466/pexels-photo-268466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  filter: blur(9px)  grayscale(1);
  content: '';
  
  
  
}
.caption{
  font-size: 20px;
}
.display-toggle{
  display: none;
}
.reason-comment{
  margin-top: 1.2rem;
  border-radius: 4px 4px;
  border-color: #ced4da;
}

.application-form{
  width: 60vw;
}
label{
  font-size: 20px;
  margin-bottom: 1rem;
  margin: 12px 0px 13px 5px;
  color: #2d2d2d;
}
.fill-area{ 
  margin: 2rem;
  width: 60rem;
  background-color: #cbcbced4;
  border-radius: 10px; 
  line-height: 0;
}

.submit-position{
  position: relative;
  left: 47%;
}
.links{
   width: 30rem;
    font-size: 2.5rem;
    border-radius: 10px;
    background: #cccbd087;
    border-radius: 10px;  
    padding: 2rem 2rem;
}
a{
  color: #2d2d2d;
}
.home{
  display: flex;
}
.home-layout{
  justify-content: center;
  align-items: center;
}

.form-pad{
  padding: 2rem 0 2rem 0;
}