@import url('https://fonts.googleapis.com/css?family=Lora|PT+Serif');
@import url('../components/applicationForm/applicationForm.css');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  background-color: #f2f2f3a6;
  font-family: 'PT Serif', serif;
  box-sizing: border-box;
  
}

.blurred-bg{
  position: relative;
}
.blurred-bg::before{
  z-index: -1;
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/268466/pexels-photo-268466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  filter: blur(9px)  grayscale(1);
  content: '';
  
  
  
}

.links{
    width: 30rem;
    font-size: 2.5rem;
    border-radius: 10px;
    background: #cccbd087;
    border-radius: 10px;  
    padding: 2rem 2rem;
}
a{
  color: #2d2d2d;
}
.home{
  display: flex;
}
.home-layout{
  
  justify-content: center;
  align-items: center;
}

