
  /*input[type="date"]::-webkit-inner-spin-button {*/
      /*display: none;*/
  /*}*/

  /*input[type="date"]::-webkit-inner-spin-button,*/
  /*input[type="date"]::-webkit-inner-spin-button {*/
      /*display: none;*/
  /*}*/
   .line {
       width: 100%;
       height: 2px;
       background-color: #212529de;
       margin-bottom: 1.5rem;

   }
  input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
  }
  input[type="date"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
  }
  /*input[type="date"]::-webkit-calendar-picker-indicator {*/

      /*color: rgba(0, 0, 0, 0);*/
      /*opacity: 1*/
  /*}*/
  input[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      color: transparent;
      cursor: pointer;
      height: auto;
      position: absolute;
      display: block;
      width: 100%;
      height: 35px;
  }
  .form-group input {
      position: relative;
  }

  label{
      font-size: 1.2rem;
      color: #2d2d2d;
      margin-left: 1rem;
      margin-bottom: 0.2rem;
  }

  .submit-btn {
      cursor: pointer;
      padding: 0.8rem 3rem;
      font-size: 1.3rem;
      margin-top: 1rem;
  }
  .reason{
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      border: 1px solid #ced4da;
      border-radius: .25rem;
    }

    .form-background{
      color: #212529de;
      margin: 3% 0;
      background-color: #bababa78;
      border-radius: 10px;
      box-shadow: 0 0px 11px 1px #6c757d63;
      border: 1px solid #dddde1;
      padding: 0 2rem 2rem 2rem;
    }

  .form-headers{
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-top: 2.2rem;
      padding-left: 1rem;
  }

  .display-toggle{
    display: none;
  }

  .form-group i {
      margin-right: 0.7rem;
  }

  .form-group span {
      font-size: 0.85rem;
  }
    /*textarea:disabled{*/
    /*background-color:  #ececec;*/
  /*}*/
  .info-message{
    /*color: rgba(91, 93, 102, 1);*/
  }
  .errorMessage{
    /*color: red;*/
  }
  .info-message , .errorMessage {
      margin-top: 0.5rem;
  }