/* .caption{
    font-size: 20px;
  }
 
 
  .application-form{
     width: 60vw; 
  }
  label{
     font-size: 20px;
    margin-bottom: 1rem;
    margin: 12px 0px 13px 5px; 
    color: #2d2d2d;
  }
  .submit-position{
    position: relative;
    left: 47%;
  } */
  .reason-comment{
    margin-top: 1.2rem;
    border-radius: 4px 4px;
    border-color: #ced4da;
    width: 100%;
  }
  .container{
      padding-top: 5%;
  }
  
  .fill-area{ 
    background-color: #bababa78;
    border-radius: 10px;
    padding: 2rem 4rem;
    width: 75rem;
    box-shadow: 0 0px 11px 1px #6c757d63;
    border: 1px solid #dddde1;
  }
  /* .display-toggle{
    display: none;
  } */
  input, textarea, select{
    box-shadow: inset 0 0 10px #00001c4d;
  }
  textarea:disabled{
    background-color:  #ececec;
  }
  p{
    text-decoration: underline;
    text-align: center;
    font-family: lora;
  }
  .btn{
    position: relative;
    left: 80%;
    width: 18%;
    top: -7rem;
    height: 5rem;
  }